//
// Badges
// --------------------------------------------------


// Base class
.badge {
  display: inline-block;
  min-width: $badge-min-width;
  padding: $badge-vertical-padding $badge-horizontal-padding;
  font-size: 85%;
  font-weight: $badge-font-weight;
  color: $badge-color;
  line-height: $badge-line-height;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: $badge-bg;
  border-radius: $badge-border-radius;

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: em(1);
  }
  .btn.xs & {
    top: 0;
    padding: $padding-xs-vertical $padding-xs-horizontal;
  }

  // Account for badges in navs
  a.list-group-item.active > &,
  .pills > .active > a > & {
    color: $badge-active-color;
    background-color: $badge-active-bg;
  }
  .pills > li > a > & {
    margin-left: .2em;
  }
}

// Hover state, but only for links
a.badge {
  &:hover,
  &:focus {
    color: $badge-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}