// Typography
// Bootstrap and other classes/elements
// --------------------------------------------------

.lead,
.subhead {
  margin-bottom: $line-height-computed;
  @include rem-fallback(font-size, ($font-size-base * 1.25));
  font-family: $arrow-font-family-light;
  line-height: 1.4;

  @media (min-width: $breakpoint-md) {
    @include rem-fallback(font-size, ($font-size-base * 1.6));
  }
}

// Blockquotes
blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin-bottom: $line-height-computed;
  margin-left: 0;
  margin-right: 0;
  @include rem-fallback(font-size, $blockquote-font-size);
  font-weight: $font-weight-light;
  border-left: 5px solid $blockquote-border-color;
  &:before,
  &:after {
    content: '';
  }

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  footer,
  small,
  .small {
    display: block;
    font-size: 80%;
    line-height: $line-height-base;
    color: $blockquote-small-color;
    &:before {
      content: '\2014 \00A0';// EM DASH, NBSP
    }
  }
  cite {
    font-style: normal; // Here also to eliminate dependancy on type-rare.less
    font-weight: 700;
  }

  // Float right with text-align: right
  &.reverse,
  &.pull-right {
    padding-right: em(15);
    padding-left: 0;
    border-right: 5px solid $blockquote-border-color;
    border-left: 0;
    text-align: right;

    footer,
    small,
    .small {
      &:before {
        content: '\00A0 \2014';// NBSP, EM DASH
      }
      &:after {
        content: '';
      }
    }
  }
}

// Headings
// --------------------------------------------------

.page-header {
  padding-bottom: (($line-height-computed / 6) - em(1));
  margin-top: ($line-height-computed / 3);
  margin-bottom: ($line-height-computed / 6);
  border-bottom: 1px solid $page-header-border-color;
}

.subhead {
  color: lighten($text-color, 30%);
}

// Contextual emphasis
// --------------------------------------------------

.text-muted {
  color: $text-muted;
}

@include text-emphasis-variant('.text-primary', $brand-primary);
@include text-emphasis-variant('.text-success', $brand-success);
@include text-emphasis-variant('.text-info',    $brand-info);
@include text-emphasis-variant('.text-warning', $brand-warning);
@include text-emphasis-variant('.text-danger',  $brand-danger);

// Contextual backgrounds
// ---------------------------------------------------------
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).

.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: #fff;
}
@include bg-variant('.bg-primary', $brand-primary, $gray-faint);
@include bg-variant('.bg-success', $brand-success, $gray-faint);
@include bg-variant('.bg-info',    $brand-info,    $gray-faint);
@include bg-variant('.bg-warning', $brand-warning, $gray-faint);
@include bg-variant('.bg-danger',  $brand-danger,  $gray-faint);


// Alignment
// ----------
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }