// Alerts

@mixin alert-variant($state, $background, $border, $text-color) {
  .alert.#{$state} {
    background-color: $background;
    border-color: $border;
    color: $text-color;

    hr {
      border-top-color: darken($border, 5%);
    }
    .alert-link {
      color: $text-color;
      text-decoration: underline;
      font-weight: $font-weight-bold;
    }
  }
}